/* Color Themes */
:root {
  --color-bg: #f3e9dc;
  --color-text: #5e3023;
  --color-primary: #c08552;
  --color-secondary: #895737;
  --color-tertiary: green;
  --color-border: #dab49d;
}
.dark-theme {
  --color-bg: #000000;
  --color-text: #ffffff;
  --color-primary: #4d364e;
  --color-secondary: #684665;
  --color-tertiary: yellow;
  --color-border: #2f2f2f;
}

/* Base */

html,
body {
  height: 100%;
  margin: 0;
  background: var(--color-bg);
  color: var(--color-text);
  font-family: Inter, system-ui, sans-serif;
}

button {
  color: var(--color-text);
}
button:after {
  background-color: var(--color-tertiary);
}
